* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    

}

i {
    cursor: pointer;
}


/* -------------------------------Navigation----------------------------------*/


#navCon {
    background-color: rgb(90, 140, 10);
}

#navCon div {
    padding: 10px 0;
    
}

#navCon div a,
#navPhone {
    color:#f4f4f4;
}

#navCon div a:hover,
#navPhone:hover {
   color: rgb(220, 244, 9);
}

#navButtons a {
    color:#000;
    row-gap: 20px;
}

#navButtons a:hover {
    color:rgb(9, 100, 9);
    border-radius: 15px;
    border: solid 1px transparent;
    background: linear-gradient(to bottom right, #406c03, yellow);
    height: 38px;
}
.navbar { 
    background-color: #8c240a;
    background: linear-gradient(to bottom right, #406c03, yellow);
    padding: 25px 60px;
    color: #fff;
}

#callInfo {
    padding-top: 20px;
    text-align: center;  
    flex-direction: column; 
    display:inline-block;
}

.btnNav:hover {
    border-radius: 15px;
    border: solid 1px transparent;
    background: linear-gradient(to bottom right, #406c03, yellow);
    height: 38px;
   
}

#callout {
    background-color: rgb(201, 244, 126);
    margin-top: 35px;
}


img {
    width: 300px;
    height:400px;
}

/* Shop items styles are here */

#shop {
    display:flex;
    flex-direction: row;
    row-gap: 30px;
    margin-bottom: 20px;
}




@media (max-width: 1000px) {
    .shop {
        grid-template-columns: repeat(2, 254px);
    }
}

@media (max-width: 500px) {
    .shop {
        grid-template-columns: repeat(1, 254px);
    }
}

.price-quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    margin-left: 50px;
}

.btn-group {
   
    display: flex;
    gap: 2px;
    font-size: 16px;
    width: 10px;
    margin-left: 80px;

  
}

.bi-dash-lg { 
    color:#f77f00;
}

.bi-plus-lg {
    color:rgb(9, 59, 2);
}

/* -------------------------------Footer----------------------------------*/
#contactInfo {
    background-color: rgb(90, 140, 10);
}

#imgBorder {
    background-color: rgb(90, 140, 10);
    border-style: none;
   
}

#footer {
    
    background-color: rgb(90, 140, 10); 
    font-weight: 550;
   
    
}

#contactInfo {
    padding-bottom: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left:0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5)
}

.modal-content {
    background-color: #f4f4f4;
    margin: 10% auto;
    padding: 20px;
    width: 70%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2) 0 7px 20px rgba(0, 0, 0, 0.18);
}

.closeBtn {
    color: #ccc;
    float: right;
    font-size: 30px;
}

.closeBtn:hover, .closeBtn:focus{
    color:#000;
    text-decoration: none;
    cursor: pointer;
}

#available_pones {
    margin-bottom: 50px;
}

/*-----------------Social Media Icons ------------*/
   
  

.fa-facebook {
    background: #3B5998;
    color: white;
    width: 40px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    margin-left: -10px;
  }
  

  .fa-twitter {
    background: #55ACEE;
    color: white;
    width: 40px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
  }

  .fa-google {
    background: #dd4b39;
    color: white;
    width: 40px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
    width: 40px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
    width: 40px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
  }

  #socIcon a:hover {
    color:green;
  }
